{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>

<body>
    <h1>미궁</h1>
    {{ error_login }}
    <form action="{% url 'game' %}" method="POST" >
        {% csrf_token %}
        Username:
        <br>
        <input name='username' type='text'>
        <br><br>
        Password:
        <br>
        <input name='password' type="password">
        <br><br>
        <input type="button" value="Login" onclick="location.href='/maze/game/'">
        <input type="button" value="Sign up" onclick="location.href='/maze/signup/'">
    </form>
</body>
</html>